<div class="container">
    <div class="row">
    <div class="col-md-5">
       <h4>Les details de l'article sont :</h4> 
       <a href="" class="list-group-item clearfix">
        <div class="pull-left">
            <h4>Le titre de l'article: {{article.titreArticle}}</h4>
            <p>le contenu de l'article: {{article.contenu}}</p>
        </div>
        <span class="pull-right">
            <p>L'auteur de l'article: {{article.auteur}}</p>
        </span>
       </a>
    </div>
    </div>
</div>
