<div class="container">
    <div class="row">
    <div class="col-md-5">
       <h4>Les details du departement sont :</h4> 
       <a href="" class="list-group-item clearfix">
        <div class="pull-left">
            <h4>Le nom du departement: {{departement.nomDepart}}</h4>
            <p>l'emplacement du departement: {{departement.emplacement}}</p>
        </div>
        <span class="pull-right">
            <p>La surface du departement: {{departement.surface}}</p>
            <p>Le prix du departement: {{departement.prix}}</p>
        </span>
       </a>
    </div>
    </div>
</div>
