
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="list-group">
    <a routerLink="#" class="list-group-item list-group-item-action  active">
      <div class="d-flex w-100 justify-content-between">
        <p>{{avis.idAvis}}</p>
        <h5 class="mb-1">{{avis.evaluation}}</h5>
        <small>{{avis.commentaire}}</small>
      </div>
      <p class="mb-1">{{avis.date_soumission_avis}}</p>
    
    </a>
    <button class="btn" (click)="OnDeleteAvis(avis)"><i class="fa fa-trash"></i></button>
  </div>