<table class="order-table">
    <thead>
      <tr>
        <th>Order Date</th>
        <th>Address</th>
        <th>Modify</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{ order.orderDate }}</td>
        <td>{{ order.address }}</td>
        <td>
          <button class="modify-button" >Modify</button>
        </td>
        <td>
          <button class="delete-button" (click)="deleteOrder(order)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  